.profile-posts-container {
    margin-left: 380px;
    margin-right: 300px;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}

.categories {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.profile-posts {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
}

.activated-line {
    position: absolute;
    border-top: 1px solid white;
    width: 58px;
    top: -15px;
}

.profile-post-icon {
    margin-right: 6px;
}

.profile-post-description {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
}

.profile-tagged {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-tagged-icon {
    margin-right: 6px;
}

.profile-tagged-description {
    color: rgb(168, 168, 168);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
}

.img-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

.user-post {
    cursor: pointer;
}